<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Modern Web Store
      </h1>
      <form [formGroup]="form">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="field">
              <p class="control">
                <input class="input" type="text" placeholder="Usuário" formControlName="username" [ngClass]="{'is-danger': (!form.controls.username.valid && !form.controls.username.pristine) }">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Senha" formControlName="password" [ngClass]="{'is-danger': (!form.controls.password.valid && !form.controls.password.pristine) }">
              </p>
            </div>
            <p>
              <button type="button" (click)="submit()" [disabled]="!form.valid" class="button is-primary is-inverted is-outlined is-fullwidth">Entrar</button>
              <br>
              <a routerLink="/signup" href="#" class="button is-link is-fullwidth">Ainda não sou cadastrado</a>
              <button (click)="showModal()" type="button" class="button is-link is-fullwidth">TERMOS DE USO </button>              
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Termos de Uso</p>
      <button class="delete" (click)="hideModal()"></button>
    </header>
    <section class="modal-card-body">
      Aqui vão os termos de uso do site.
    </section>
    <footer class="modal-card-foot">
      <button (click)="hideModal()" class="button">OK</button>
    </footer>
  </div>
</div>