<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Modern Web Store
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="Usuário">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="password" placeholder="Senha">
            </p>
          </div>
          <p>
            <a class="button is-primary is-inverted is-outlined is-fullwidth">Entrar</a>
            <br>
            <a href="#" class="button is-link is-fullwidth">Ainda não sou cadastrado</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>