<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Seu Carrinho</h1>
      <h2 class="subtitle">
        {{ totalItens }} Itens
      </h2>
    </div>
    <br>
    <table class="table is-striped">
      <thead>
        <tr>
          <th class="has-text-centered">Produto</th>
          <th class="has-text-centered">Valor</th>
          <th class="has-text-centered">Quantidade</th>
          <th class="has-text-centered">Total</th>
          <th class="has-text-centered"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="has-text-centered">{{ item.product.title }}</td>
          <td class="has-text-centered">{{ item.product.price | currency: 'BRL': '1.2-2' }}</td>
          <td class="has-text-centered">
            <input type="number" [(ngModel)]="item.quantity" (change)="checkQuantity(item)" class="input" style="width:60px"/>
          </td>
          <td class="has-text-centered">{{ (item.product.price * item.quantity) | currency: "BRL": '1-2.1' }}</td>
          <td class="has-text-centered"><button (click)="remove(item)" class="button is-small is-danger"><i class="fa fa-close"></i></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">SubTotal</td>
          <td class="has-text-centered"><strong>R$ 299,90</strong></td>
        </tr>
        <tr>
          <td colspan="4">Desconto</td>
          <td class="has-text-centered"><strong>R$ 10,90</strong></td>
        </tr>
        <tr>
          <td colspan="4">Total</td>
          <td class="has-text-centered"><strong>R$ 289,00</strong></td>
        </tr>
      </tfoot>
    </table>
    <p class="has-text-right">
      <button class="button is-success animated pulse infinite"><i class="fa fa-check"></i>&nbsp;&nbsp;CHECKOUT</button>
    </p>
  </div>
</section>
<app-footer></app-footer>